*.env
*.env1
*.env2
nvidia-nemotron-model-reasoning-challenge/cot_output/techniques/
nvidia-nemotron-model-reasoning-challenge/cot_output/raw_cot/
nvidia-nemotron-model-reasoning-challenge/cot_output/distilled_cot/
nvidia-nemotron-model-reasoning-challenge/cot_output/
*.csv
cot_output/
.DS_Store
.claude/